:root{
    --red: hsl(14, 86%, 42%);
    --green: hsl(159, 69%, 38%);

    --rose-50: hsl(20, 50%, 98%);
    --rose-100: hsl(13, 31%, 94%);
    --rose-300: hsl(14, 25%, 72%);
    --rose-400: hsl(7, 20%, 60%);
    --rose-500: hsl(12, 20%, 44%);
    --rose-900: hsl(14, 65%, 9%);
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;600;700&display=swap');

body{
    font-family: 'Red Hat Text', sans-serif;
    margin: 0;

    padding: 5rem;

    display: grid;
    grid-template-columns: 1fr 380px;
    gap: 2rem;

    background: var(--rose-50);
    min-height: 100vh;


}

p{
    font-family: 'Red Hat Text', sans-serif;
}

.container{
    padding: 20px;
    text-align: center;
    padding-top: 10px;
}

img{
    width: 30px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

header .icon-cart{
    position: relative;
}

header .icon-cart span{
    display: flex;
    width: 30px;
    height: 30px;
    background-color: red;
    justify-content: center;
    align-items: center;
    color: #ffff;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: -20px;
    
}

#product-list {
    display: grid;
     grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;

    
}

.productList {
    width: 100%;
    
}

.product-img-btn{
    display: flex;
    
    position: relative;
     
}

.productList img{
    width: 100%;
    /* height: auto; */
    border-radius: 12px;
    display: block;
}

#addItem-btn{
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 6px 10px;
    border: 1px solid rgba(99, 5, 5, 0.531);
    background: #ffff;
    color: black;
    cursor: pointer;
    border-radius: 20px;

    height: fit-content;
    width: 70%;

    font-size: 12px;
    font-weight: bold;
   

}

.qty-btn{
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 6px 10px;
    border-radius: 20px;

    width: 70%;
    height: fit-content;

    background: hsl(14, 86%, 42%);
    color: white;
}

.qty-btn button {
    background: transparent;
    border: 1px solid white;
    color: white;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    cursor: pointer;
}

.qty-btn span {
    font-weight: bold;
}

.product-img-btn #addItem-btn img{
    width: 20px;
}

.productList .text-area{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 30px 0;
    
    text-align: left;
}

.productList .text-area h3{
    color: var(--rose-900);
    font-size: 16px;
    font-weight: 600;
}

.cart-tab{
    /* width: 400px; */
    padding: 1.5rem;
    background: white;
    display: grid;
    grid-template-rows: auto 1fr;
    border-left: 1px solid #ddd;

    height: fit-content;
    border-radius: 20px;
    height: fit-content;

}

.cart-tab h2{
    color: var(--red);
    font-size: 1.6rem;
    font-weight: 700;
    
}

.empty-cart{
    display: flex;
    flex-direction: column;
    align-items: center;      
    justify-content: center;  
    text-align: center;
    gap: 1rem;
    
}


.empty-cart img{
    width: 200px;
    height: auto;
    
}

.empty-cart p{
    color: var(--rose-500);
    font-weight: bold;
}

.cart-items{
    display: flex;
    
}

.cart-item-head{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.cart-item-head p{
    font-weight: bolder;
}

.cart-details{
    display:flex;
    gap:10px;
    margin-top:5px;
}

.qty{
    color:hsl(14, 86%, 42%);
    font-weight:bold;
}

.remove-btn {
    background: none;
    border: none;
    cursor: pointer;

    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
}

.remove-btn img {
    width: 12px;
    height: 12px;
    display: block;

}

.order-total{
    display: flex;
    justify-content: space-between;
}

.confirm-order-btn{
    width:100%;
    padding:14px;
    border:none;
    border-radius:25px;
    background:hsl(14, 86%, 42%);
    color:white;
    font-weight:bold;
    cursor:pointer;
    margin-top:20px;
}

.delivery{
    display: flex;
    align-items: center;
    gap: 6px;
    background: #f5f5f5;
    padding: 5px;
    border-radius: 8px;
    justify-content: center;
    margin-top: 10px;
    /* height: 10px; */

}

.delivery-img{
   width: 20px !important;
    height: 20px !important;
    align-items: center;
}

.cart-item {
    margin-bottom: 10px;
}

.order-summary {
    margin-top: 15px;
}



.review-section{
    padding: 1rem 0;
    display: flex;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
    background-color: var(--rose-100);
    padding: 5%;
    border-radius: 20px;
}

.review-section img {
    width: 55px;
    height: 55px;
    border-radius: 8px;
    object-fit: cover;
    float: left;
    margin-right: 1rem;
}

.review-item{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-details {
    display: flex;
    gap: 1rem;
}

.item-info p{
    font-weight: bolder;
}


.review-total {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.5rem;
}



.review-total p {
    margin: 0;
    
    font-weight: bolder;
}

.review-total strong {
    font-size: 1.8rem;
    color: #260f08;
}

#new-order{
    
    border-radius: 20px;
    width:80%;
    height: 3rem;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    background-color: var(--red);
    border: none;
    color: #ffff;
    
}

.review-modal{
    border-radius: 20px;
    border: none;
    width: 30%;

}

#cart-count{
    color: var(--red) ;
}
/* .cart-tab .btn{
    display: grid;
    grid-template-columns: repeat(2. 1fr);
}

.cart-tab.btn button{
    background-color: red;
} */